* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #2f0a38, #8940b4);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
}

.contenedor {
    background: #fff;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.partSuperior {
    background: #250330;
    text-align: center;
    padding: 30px 0 40px;
    clip-path: polygon(0 0, 
                       100% 0, 
 
                       100% 70%, 
                       50% 90%,

                       0 70%, 
                       0 0);
}

/*Título 1 */
.partSuperior h1 {
    color: #fff;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
    font-weight: normal;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*Título 2 */
.partSuperior span {
    color: #cc91f3;
}

/*Padding[espacios de izquierda, derecha y arriba] de caja formulario */
.formulario {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Título 3 */
.título {
    text-align: center;
    font-size: 22.5px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 30px;
    overflow: hidden;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
}

/*Estilos de h3 */
h3, h2 {
    position: relative;
    display: inline-block;
    color: #000000;
    padding: 0 10px;
}

/*Estilos de líneas antes y después de las palabras 'Información general' */
h3::after, h3::before {
    position: absolute;
    content: '\A';
    width: 100%;
    height: 5px;    /*Grosor */
    background: #313131;
    top: 0.4em;
}

.dato:after, .dato:before {
    content: '\A';
    white-space: pre;
}

/*Espacio entre línea y línea ubicados antes y después de las palabras 'Información general' */
h3::after {
    left: 100%;
}

/*Espacio entre línea y línea ubicados antes y después de las palabras 'Información general' */
h3::before {
    right: 100%;
}


/*Estilo de lista*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Propiedades de ubicación de div "derecha"*/
.derecha{
    float: right;
    clear: right;
    left: -30px;
    margin-right: 45px;
}

/*Propiedades de ubicación de div "izquierda"*/
.izquierda, .izquierdaNota{
    float: left;
    margin-left: 55px;
    clear: left;
}

.izquierdaNota{
    font-size: 18px;
}

ul li {
    position: relative;
}

/*Tamaño de cada li"*/
ul li {
    margin: 0.3em;
    padding: 0.3em;
    margin-top: -0.5em;
    width: 35%;
}

.dato {
    margin-bottom: 0px;
}

.formulario {
    width: 100%;
    height: auto;
    text-align: left;
}


/*Estilo de texto de los datos que se ingresarán */
input[type="text"] {
    border-radius: 5px;
    
    width: 100%;
    font-size: 19px;
    padding-left: 10px;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
}


/*Estilo de etiquetas */
.etiq {
    font-size: 19px;
    color: #3f066d;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
}

.obligatorio {
    color: #FF0000;
}

/*Propiedades de contenedor de botón "Ingresar"*/
.alta{
    clear: both;
    float: none;
    padding: 0em;
    text-align: center;
    width: 100%;
}

/*Estilo de botón y contenido de "Ingresar" */
input[type="submit"] {
    border: none;
    background: #370c5f;
    color: #fff;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/*Estilo de botón "Registrar producto" cuando el cursor pasa sobre él*/
input[type="submit"]:hover {
    background: #6a1094;
}

/*Mensaje */
.texto h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 0px;
    overflow: hidden;
    font-family: Bahnschrift SemiCondensed, Cambria, Cochin, Georgia, serif;
}